<ul>
    <li ng-repeat="dir in node.contents[0]" ng-class="node.subdirs[dir].isOpen ? 'open' : 'closed'" class="dir">
        <i class="icon" ng-class="node.subdirs[dir].isOpen ? 'icon-folder-open-o' : 'icon-folder-o'"></i>
        <a ng-click="onToggleOpen({dir: dir, parent: node})">{{dir}}</a>
        <tree node="node.subdirs[dir]" on-toggle-open="toggleOpenFn(dir, parent)" toggle-open-fn="toggleOpenFn">
            <div ng-transclude></div>
        </tree>
    </li>
    <li ng-repeat="file in node.contents[1]" class="file">
        <i class="icon icon-file-text-o"></i>
        <a href="#{{node.path}}/{{file}}">{{file}}</a>
    </li>
</ul>

