// =============================================================================
//
//  Layout Base
//
//  @version    0.0.1
//  @package    mdwiki
//  @author     Henrik Hedelund <henke.hedelund@gmail.com>
//
// =============================================================================

//------------------------------------------------------------------------------
//  Sidebar:
//------------------------------------------------------------------------------

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding-top: 20px;
    bottom: 0;
}

//------------------------------------------------------------------------------
//  Menu:
//------------------------------------------------------------------------------

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 20px;

        &.dir a {
            cursor: pointer;
        }
    }
}

nav ul li.closed ul {
    display: none;
}

//------------------------------------------------------------------------------
//  Content:
//------------------------------------------------------------------------------

.main {
    margin-left: 250px;
}

