// =============================================================================
//
//  Layout Base
//
//  @version    0.0.1
//  @package    mdwiki
//  @author     Henrik Hedelund <henke.hedelund@gmail.com>
//
// =============================================================================

//------------------------------------------------------------------------------
//  Topbar:
//------------------------------------------------------------------------------

.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
}

//------------------------------------------------------------------------------
//  Sidebar:
//------------------------------------------------------------------------------

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding-top: 20px;
    bottom: 0;
}

//------------------------------------------------------------------------------
//  Tree Navigation:
//------------------------------------------------------------------------------

nav.tree ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 20px;

        &.dir a {
            cursor: pointer;
        }
        &.closed ul {
            display: none;
        }
    }
}

//------------------------------------------------------------------------------
//  Search Navigation:
//------------------------------------------------------------------------------

nav.search {

}

//------------------------------------------------------------------------------
//  Breadcrumbs Navigation:
//------------------------------------------------------------------------------

nav.breadcrumbs {
    float: left;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline;

            &.dir:after {
                content: '\0000bb'; // &raquo;
            }
        }
    }
}

//------------------------------------------------------------------------------
//  Table of Contents Navigation:
//------------------------------------------------------------------------------

nav.toc {
    float: right;

    ul {
        padding: 0;
        margin: 0;
    }
}

//------------------------------------------------------------------------------
//  Content:
//------------------------------------------------------------------------------

.main {
    margin-left: 250px;
}

