// =============================================================================
//
//  Layout Base
//
//  @version    0.0.1
//  @package    mdwiki
//  @author     Henrik Hedelund <henke.hedelund@gmail.com>
//
// =============================================================================

//------------------------------------------------------------------------------
//  Topbar:
//------------------------------------------------------------------------------

.topbar {
    padding: $base-padding;
    background-color: rgba($white, .8);
    position: fixed;
    top: 0;
    left: 250px;
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);

    @include box-sizing(border-box);
}

//------------------------------------------------------------------------------
//  Sidebar:
//------------------------------------------------------------------------------

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    bottom: 0;
    background-color: $gray-lighter;
    overflow: auto;
}

//------------------------------------------------------------------------------
//  Tree Navigation:
//------------------------------------------------------------------------------

nav.tree ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        color: $gray-light;
        padding-left: $base-padding;

        a,
        i {
            @include transition(color .4s ease);
        }

        > a {
            color: $gray-light;
            line-height: 30px;
        }

        &.dir a {
            cursor: pointer;
        }
        &.closed ul {
            display: none;
        }

        &.active {
            > i {
                color: $black;
            }

            > a {
                color: $black;
            }
        }

        &:hover {
            > i {
                color: $color-1;
            }

            > a {
                color: $color-1;
            }
        }
    }
}

nav.tree {
    padding: $base-padding 0;
}

//------------------------------------------------------------------------------
//  Search Navigation:
//------------------------------------------------------------------------------

aside.search {
    padding: $base-padding;
    position: fixed;
    top: 10%;
    left: 10%;
    height: 500px;
    width: 80%;
    height: 80%;
    right: auto;
    border: 1px solid #efefef;
    background-color: white;
    overflow: auto;

    @include box-sizing(border-box);
}

nav.search {

    background-color: $gray-dark;

    .search-header {
        background-color: $gray-darker;
        position: relative;

        .icon-search {
            position: absolute;
            top: 18px;
            left: 20px;
            font-size: 26px;
            pointer-events: none;
            color: $white;
        }

        .icon-times-circle {
            position: absolute;
            right: 20px;
            top: 25px;
            font-size: 16px;
            color: $white;
            cursor: pointer;
        }

        input {
            background-color: transparent;
            border: 0;
            color: $white;
            margin: 0;
            max-width: 100%;
            padding: $base-padding 45px $base-padding 55px;
            -webkit-appearance: none; // Remove iOS shadows
            width: 100%;

            @include box-sizing(border-box);
            @include get-font('input', normal, true);
            @include transition(border-color .2s ease, opacity .2s ease);

            &:active,
            &:focus,
            &.is-active {
                outline: 0;
            }
        }
    }

    .search-hits {
        list-style: none;
        padding: 0;
        margin: 0;

        .search-hit {
            > a {
                display: block;
                color: $white;
                border-bottom: 1px solid $gray-darker;
                padding: $base-padding;
                background-color: transparent;

                @include transition(background-color .3s ease);

                &:hover {
                    background-color: $black;
                }
            }

            .search-hit-title {
                word-wrap: break-word;
                font-weight: bold;

                i {
                    padding-right: $base-padding / 2;
                }
            }

            .search-hit-highlight {
                word-wrap: break-word;
                margin: 0;
                @include get-font-size(small);
            }
        }
    }
}

.correction {
    padding: ($base-padding / 2) $base-padding;
    color: $white;
    background-color: transparent;

    @include transition(background-color .3s ease);

    a {
        color: $white;
    }

    &:hover {
        background-color: $black;
        cursor: pointer;
    }
}

//------------------------------------------------------------------------------
//  Breadcrumbs Navigation:
//------------------------------------------------------------------------------

nav.breadcrumbs {
    float: left;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline;

            &.dir:after {
                content: '\0000bb'; // &raquo;
            }
        }
    }
}

//------------------------------------------------------------------------------
//  Table of Contents Navigation:
//------------------------------------------------------------------------------

nav.toc {
    float: right;

    ul {
        border: 1px solid $gray-lighter;
        line-height: 1em;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 300px;

        @include box-sizing(border-box);
        @include transition(border-color .3s ease);

        &:after {
            @extend %icon;
            @extend %icon-angle-down:before;

            color: $gray-lighter;
            position: absolute;
            right: 10px;
            top: 10px;

            @include transition(color .3s ease);
        }

        > li {
            position: absolute;
            top: 0;

            @include opacity(0);
            @include transition(opacity .3s ease);

            &:first-child {
                position: static;
            }

            &.focus {
                @include opacity(1);
            }

            > a {
                display: block;
                padding: $base-padding / 2;
            }
        }

        // Hover:
        &:hover {
            position: absolute;
            background-color: $white;
            border-color: $black;
            height: auto;
            padding: 0;

            &:after {
                color: $black;
            }

            > li {
                position: static;

                @include opacity(1);

                > a {
                    border-top: 1px solid $color-border;
                }

                &:first-child > a {
                    border-top: 0;
                }

                &.level-1 > a { }
                &.level-2 > a { padding-left: 30px; }
                &.level-3 > a { padding-left: 50px; }
                &.level-4 > a { padding-left: 70px; }
            }
        }
    }
}

//------------------------------------------------------------------------------
//  Content:
//------------------------------------------------------------------------------

.main {
    padding: $base-padding;
    padding-top: 64px; // topbar height
    margin-left: 250px;
}

